/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    // --color-primary: #5721f2;
    // --color-on-surface: #000;

    --color-white: #FFF;
    --color-black: #000;
    --color-gray-first: #ECECEC;
    --color-gray: #979797;
    //--color-pink-first: #F8EFD7;
    --color-pink-second: #F8E0D7;
    --color-pink-hover: #FFC4AD;
    --color-pink-active: #F1AD94;
    //--color-pink-third: #F8D7D7;
    --color-pink-basic: #F8B69D;


}